@using System.Diagnostics;
@inherits LayoutComponentBase
<Image Source="logo.png" Width="Width.Is50" Height="Height.Is50"> </Image>
<Card Width="Width.Is50" Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle" Padding="Padding.Is5">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.Is3.WithOffset">
        <Field Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle">
            <TextEdit Placeholder="Username" />
        </Field>
        <Field Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle">
            <TextEdit Role="TextRole.Password" Placeholder="Password" />
        </Field>
        <Button Color="Color.Primary" Position="Position.Relative.Bottom.Is50.Start.Is50.Translate.MiddleX">Login</Button>
    </Column>
</Card>
@code {
   
}